//styles for inner page
.breadcrumbs
	padding-bottom: 12px
	margin-bottom: 22px
	border-bottom: #e5e5e5 1px solid  
	font-size: 0
	li
		display: inline
		font-size: 12px
		color: #A3A3A3
	a
		color: #A3A3A3
		&:hover
			color: $gr 
	i
		display: inline-block
		margin: 0 14px
		+s(flip(bc-arr, bc-arr-rtl))



.post
	+clr
.post_center
	padding: 0 80px
	.title-bigger
		text-align: center
.post_margin-bottom
	margin-bottom: 40px
.post_series
	margin-bottom: 15px
.post_aside, .post_aside-pic
	margin-bottom: 30px
	.post__details
		padding: 0
.post_aside
	.post__item	
		margin-top: 10px
		padding-top: 15px
		border-top: 1px dotted #ccc 
		&:first-child
			margin: 0
			padding: 0
			border: none
.post_aside-pic
	.post__pic
		float: none
		margin-bottom: 10px
.post_column
	.post__item
		float: flip(left, right)
		width: 140px
		margin: flip(0 0 0 20px, 0 20px 0 0) 
		&:first-child
			margin: 0
	.post__pic
		float: none
	.post__details
		padding: 14px 0 0 0 
.post_alone
	.post__pic
		float: none
		margin: 0
	.post__details
		padding: 14px 0 0 0 
.post__item
	margin-top: 20px 
	+clr
	&:first-child
		margin-top: 0
.post__pic
	position: relative
	float: flip(left, right)
	img
		display: block
		border-radius: 2px
.post__label
	position: absolute
	top: 20px
	#{$left}: 0
	padding: 5px 8px
	background: #81c7f3 
	border-radius: 0 3px 3px 0
	font-size: 8px 
	font-weight: bold
	text-transform: uppercase
	color: #fff 
.post__details
	#{$padding-left}: 20px
	overflow: hidden
.post__category, .post__text, .post__title
	margin-bottom: 5px 
.post__title
	a
		display: block
		color: #000 
.post__title_bigger
	margin-bottom: 10px
	font-size: 30px
	line-height: 1.1
.post__title_middle
	font-size: 18px
	line-height: 1.2
.post__meta
	margin-bottom: 5px
	+clr
	.post__category
		display: inline-block
		#{$margin-right}: 14px
		#{$padding-right}: 14px
		#{$border-right}: #E5E5E5 1px solid 
.post__text
	color: #a3a3a3 
.post__date, .post__comm
	display: inline-block
	font-size: 11px
	color: #B8B8B8
	font-style: italic
.post__date
	#{$margin-right}: 12px
.post__comm
	position: relative
	#{$padding-left}: 22px 
	i
		position: absolute
		top: 1px
		#{$left}: 0
		+s(comm)
.post__previews
	float: flip(right, left)
	#{$margin-left}: 20px
	li
		position: relative
		margin-bottom: 5px
		cursor: pointer
		&:hover
			img
				border-color: $grl
		&.cycle-pager-active
			cursor: default
			&:after
				content: ""
				position: absolute
				top: 27px
				#{$left}: -4px
				width: 0px
				height: 0px
				border-style: solid
				border-width: flip(3.5px 4px 3.5px 0, 3.5px 0 3.5px 4px)
				border-color: flip(transparent #38a8a2 transparent transparent, transparent transparent transparent #38a8a2)
			img
				border-color: $gr
	img
		display: block
		border-radius: 3px
		border: 3px solid transparent
.post__in
	overflow: hidden
	.post__item
		width: 540px
		margin: 0
.post__more
	padding-top: 10px



.post__share
	margin-bottom: 20px




.content
	font-size: 15px
	color: #A3A3A3
	img
		border-radius: 3px
		&.is-left
			float: flip(left, right)
			margin: flip(20px 20px 20px 0, 20px 0 20px 20px)
		&.is-right
			float: flip(right, left)
			margin: flip(20px 0 20px 20px, 20px 20px 20px 0)
	p, .h1, .h2, .h3, .h4, h2, h3, h4, ul
		margin-bottom: 20px
		& + blockquote, q
			margin-top: 35px
	.h1, .h2, .h3, .h4, h2, h3, h4
		font-weight: normal
		color: #000
	.h1
		font-size: 20px
	.h2, h2
		font-size: 18px
	.h3, h3
		font-size: 16px
	.h4, h4
		font-size: 14px
	strong
		color: #000 
	blockquote, q
		position: relative
		margin-bottom: 20px
		padding: 15px 20px
		border-radius: 5px
		background: #eaf0f0
		font-size: 13px
		color: #999   
		font-style: italic
		&:before
			content: ""
			position: absolute
			top: -15px
			#{$left}: 15px
			+s(blockquote)
		&.is-right
			float: flip(right, left)
			width: 260px
			margin: flip(20px 0 20px 20px, 20px 20px 20px 0)
	ul, ol
		#{$padding-left}: 20px
		li
			position: relative
			margin-bottom: 20px
			#{$padding-left}: 40px
			&:before
				content: ""
				position: absolute
				#{$left}: 0
	ul
		li
			&:before
				top: 10px
				width: 20px
				height: 1px
				background: $gr 
	ol
		counter-reset: list
		li
			counter-increment: list
			&:before
				top: 0
				content: counter(list) "."
				font-weight: bold 
				color: $gr 
.content_two-columns
	margin-bottom: 10px
	-webkit-columns: 2 20px		
	-moz-columns: 2 20px		
	columns: 2 20px		
	.h1, p, ul, ol, blockquote
		display: inline-block
		vertical-align: top		
	p + blockquote, 
	.h1 + blockquote, 
	.h2 + blockquote, 
	.h3 + blockquote, 
	.h4 + blockquote, 
	h2 + blockquote, 
	h3 + blockquote, 
	h4 + blockquote, 
	ul + blockquote
		margin-top: 0 
.content_margin-bottom
	margin-bottom: 40px


.hr
	height: 5px
	margin-bottom: 20px 
	background: url(../img/wave.png) repeat-x 
	border: none


.block
	margin-bottom: 30px


.gallery
	position: relative
	margin-bottom: 20px
	img
		border-radius: 3px
.gallery__in
	position: relative
.gallery__prev, .gallery__next
	position: absolute
	top: 50%
	width: 40px
	height: 40px
	margin-top: -20px
	background: #FFF
	border-radius: 50% 
	z-index: 200
	font-size: 0
	i
		display: inline-block
.gallery__prev
	left: -20px
	i
		+s(gallery-prev)
.gallery__next
	right: -20px
	i
		+s(gallery-next)
.gallery__pager
	margin: 20px 0
	text-align: center
	font-size: 0
	+clr
	span
		display: inline-block
		width: 10px
		height: 10px
		margin: 0 5px
		background: #CDD3D3
		border-radius: 50% 
		vertical-align: middle
		cursor: pointer
		&.cycle-pager-active
			background: $gr 
.gallery__pager_thumbs
	margin: 10px -3px 12px 
	text-align: left
.gallery__pager-item
	position: relative
	display: inline-block
	padding: 0
	margin: flip(0 2px 2px 0, 0 0 2px 2px)
	border: 3px solid transparent
	vertical-align: top
	border-radius: 3px
	cursor: pointer
	&:hover
		border-color: $gr
		img
			border-radius: 0
	&.cycle-pager-active
		border-color: $grd
		&:before
			content: ""
			position: absolute
			top: -7px
			#{$left}: 50%
			#{$margin-left}: -4px
			+arr(8,4,$grd,t)
		img
			border-radius: 0
			
.gallery__desc
	margin: 0 60px
	font-style: italic
	color: #999 
	overflow: hidden





.doctor__in
	position: relative
	padding: 10px
	border-radius: 3px 3px 0 0
	background: #FFF 
	+clr
.doctor__left
	float: flip(left, right)
	width: 100px
	#{$margin-right}: 20px
.doctor__right
	padding-bottom: 55px
	overflow: hidden
.doctor__pic
	margin-bottom: 7px
	img
		display: block
		border-radius: 3px
.doctor__stats
	display: table
	width: 100%
	a
		display: table-row
		text-decoration: none
		&:first-child
			span
				border: none
		&:hover
			span
				color: #000
				text-decoration: underline 
	span
		display: table-cell
		padding: 6px 0
		border-top: 1px solid #e5e5e5
		vertical-align: middle
		font-size: 11px
		color: #A3A3A3 
		&:first-child
			#{$padding-right}: 5px
			text-align: center
	i
		display: inline-block
		vertical-align: middle
.doctor__stats-comm
	+s(comm)
.doctor__stats-ask
	+s(ask)
.doctor__stats-answer
	+s(answer)
.doctor__head
	position: relative
	margin-bottom: 10px
	#{$padding-right}: 100px
	.rating
		position: absolute
		top: 10px
		#{$right}: 10px
.doctor__title
	margin-bottom: 5px
	a
		font-size: 15px
		color: #000 
.doctor__metro
	height: 7px
	margin-bottom: 15px
	border-bottom: 1px solid #ededed
	i
		display: block
		+s(metro)
.doctor__info
	margin-bottom: 15px
	+clr
.doctor__address, .doctor__hospital
	float: flip(left, right)
	width: 155px
.doctor__address
	#{$margin-right}: 10px
	li
		font-size: 12px
		color: #a3a3a3 
		&:first-child
			margin-bottom: 5px
			font-size: 11px
.doctor__hospital
	line-height: 1.2
	a
		font-size: 13px
		color: #000 
		font-weight: bold
.doctor__do
	position: absolute
	#{$right}: 10px
	bottom: 10px
	width: 320px
	font-size: 0
	.btn
		width: 155px
		vertical-align: top
		&:first-child
			#{$margin-right}: 10px
.doctor__days
	display: table
	width: 100%
	border-radius: 0 0 3px 3px
	background-color: #f5f7f7
	box-shadow: 0 5px 5px rgba(0,0,0,.05) inset
	table-layout: fixed 
.doctor__days-row
	display: table-row
.doctor__days-item
	position: relative
	display: table-cell
	padding: 7px
	border-left: #E5E6E6 1px solid
	&:first-child
		border: none
	strong
		display: block
		font-weight: bold
		color: #000
		font-size: 10px
	span
		display: block
		line-height: 1.1
		font-size: 11px
		color: #ADADAD 
	&.is-checked
		&:after
			content: ""
			position: absolute
			top: 9px
			#{$right}: 8px
			+s(check)
	&.is-free
		strong
			color: #9d9e9e 
		span
			color: #d3d4d4 

		

.btn
	position: relative
	height: 40px
	padding: 0 20px
	border-radius: 3px
	font-size: 11px
	text-transform: uppercase
	color: #FFF
	font-weight: bold 
	&:hover
		top: -2px
	&:active
		top: 0
.btn_blue
	background: $bl
	&:hover
		background: $bll 
		box-shadow: 0 2px 0 $bld 
	&:active
		box-shadow: none
.btn_green
	background: $gr
	&:hover
		background: $grl
		box-shadow: 0 2px 0 $grd
	&:active
		box-shadow: none
.btn_small
	height: 30px


.rating
	font-size: 0
	img
		#{$margin-left}: 2px
		&:first-child
			margin: 0
			


.field
	position: relative
	margin-bottom: 15px
	&.is-error
		.field__error
			display: block
		.field__el
			input, textarea
				border-color: #fe9c9c
				background-color: #fff9f9
				box-shadow: 0 0 5px rgba(255,120,120,.15), inset 1px 1px 7px rgba(0,0,0,.06)
.field_file
	.field__el
		.btn, span
			display: inline-block
			vertical-align: middle
		.btn
			#{$margin-right}: 10px
		span
			color: #959999 
.field_reset
	.field__el
		position: relative
		input
			padding: 0 42px 0 10px 
		textarea
			padding: 10px 42px 10px 10px
.field, .field__label, .field__el
	display: block
.field_dp
	.field__el
		position: relative
	.ico-dp
		position: absolute
		top: 13px
		#{$right}: 15px
		+s(calendar)
.field__label
	margin-bottom: 6px
	color: #000
	span
		#{$margin-left}: 5px
		color: $gr  
.field__el
	input, textarea
		display: block
		width: 100%
		border: 1px solid #dfe2e2
		border-radius: 3px
		background-color: #fff
		box-shadow: inset 1px 1px 7px rgba(0,0,0,.06)
		font-size: 12px
		+box
		&:focus
			border-color: $grd
			box-shadow: 0 0 5px rgba(56,168,162,.15), inset 1px 1px 7px rgba(0,0,0,.06)
	input
		height: 39px
		padding: 0 10px
	textarea
		height: 100px
		resize: vertical
		padding: 10px
.field_small
	.field__el
		input
			height: 30px
.field__error
	display: none
	padding-top: 10px 
.field__message
	position: relative
	display: block
	background: #fe9c9c
	border-radius: 3px
	padding: 10px
	font-style: italic
	color: #fff 
	line-height: 1.2
	&:before
		content: ""
		position: absolute
		top: -6px
		#{$left}: 15px
		+arr(12,6,#fe9c9c,t)


.select
	position: relative
	cursor: pointer
	&.is-open
		z-index: 100 
		.select__head
			border-color: $grd
			box-shadow: 0 0 5px rgba(56,168,162,.15), inset 1px 1px 7px rgba(0,0,0,.06)
			&:after
				border-color: $grd transparent transparent transparent
	&.is-chosen
		.select__head
			color: #000
.select__head
	position: relative
	width: 100%
	height: 39px
	padding: 0 30px 0 10px 
	border: 1px solid #dfe2e2
	border-radius: 3px
	background-color: #fff
	box-shadow: inset 1px 1px 7px rgba(0,0,0,.06)
	white-space: nowrap
	text-overflow: ellipsis
	font-size: 12px
	line-height: 39px
	overflow: hidden
	color: #a3a3a3 
	+box
	&:after	
		content: ""
		position: absolute
		top: 17px
		right: 14px
		+arr(7,4,#000,b)
.select__list
	display: none
	position: absolute
	top: 100%
	#{$left}: 0
	width: 420px
	padding: 10px 20px
	box-shadow: 3px 4px 14px rgba(0,0,0,.14)
	border-radius: 3px
	background: #FFF 




.radio, .checkbox
	display: block
	position: relative
	+nosel
	cursor: pointer
	input
		position: absolute
		top: 0
		#{$left}: 0
		opacity: 0 
		&:checked + span
			color: #000 
			cursor: default
			&:after
				content: ""
				position: absolute
	span
		display: block
		font-size: 12px
		color: #999 
		&:before
			content: ""
			position: absolute
			top: 0
			#{$left}: 0
	&:hover
		span
			color: $gr 
.radio
	#{$padding-left}: 25px
	input
		&:checked + span
			&:after
				top: 4px
				#{$left}: 4px
				width: 7px
				height: 7px
				background: $gr
				border-radius: 50%
			&:before
				border-color: $gr
	span
		font-style: italic
		&:before
			width: 13px
			height: 13px
			border: 1px solid #afb4b4
			border-radius: 50%
.checkbox
	#{$padding-left}: 30px
	input
		&:checked + span
			&:after
				top: 6px
				#{$left}: 4px
				+s(checkbox-bird)
	span
		padding: 1px 0
		font-size: 13px
		&:before
			width: 17px
			height: 17px
			border: 1px solid #dfe2e2
			border-radius: 3px
			background-color: #fff
			box-shadow: inset 1px 1px 7px rgba(0,0,0,.06)

.comm
	padding-top: 20px
	border-top: 1px solid #000 
.comm_small
	.comm__form
		.fieldset
			.field
				width: 140px
				#{$margin-right}: 20px
.comm__head
	margin-bottom: 20px	
	+clr
	.comm__title
		margin: 0
.comm__write-link
	float: flip(right, left)
	margin-top: 5px
	line-height: 1
	span, i
		display: inline-block
		vertical-align: middle
	span
		border-bottom: 1px dotted
	i
		#{$margin-left}: 10px
		+s(comm-arr)
.comm__title
	margin-bottom: 20px
	font-size: 20px
	font-weight: bold
	color: $font 
	span
		color: $gr 
	i
		display: inline-block
		#{$margin-left}: 10px
		+s(comm)
.comm__list
	margin-bottom: 25px
.comm__item
	position: relative
	padding-top: 20px
	margin-top: 20px
	border-top: #E5E5E5 1px solid 
	+clr
.comm__item_reply
	#{$padding-left}: 30px
	&:before
		content: ""
		position: absolute
		top: 20px
		#{$left}: 0px
		+s(comm-reply)
.comm__ava
	float: left
	#{$margin-right}: 20px
	img
		display: block
		border-radius: 3px
.comm__man
	float: left
	width: 150px
	#{$margin-right}: 20px 
.comm__name
	color: #000
	a
		color: #000 
.comm__date
	margin-bottom: 5px
	font-size: 11px
	font-style: italic
	color: #999 
.comm__text
	display: table
	color: #999 
.comm__form
	.fieldset
		+clr
		.field
			float: flip(left, right)
			width: 220px
			#{$margin-right}: 20px
		.social
			float: right
			margin-top: 30px
	> .btn
		width: 140px


.poll
	position: relative
	margin-bottom: 30px
	padding-top: 12px
.poll_wide, .poll_aside
	.poll__in
		padding: 20px 
.poll_wide 
	.poll__variants
		float: flip(left, right)
		width: 80%
		margin: 0
		.radio
			float: flip(left, right)
			width: 30%
			margin: flip(0 0 0 3%, 0 3% 0 0)
			+box
			&:first-child
				margin: 0
	.poll__in
		.btn
			float: flip(right, left)
			width: 20%
			padding: 0
		
.poll__ico
	position: absolute
	top: 0
	#{$left}: 9px
	width: 20px
	height: 20px
	border-radius: 50%
	border: 2px solid $gr 
	background: #fff
	i
		position: absolute
		top: 4px
		left: 6px
		+s(question)
.poll__in 
	padding: 20px 10px 10px
	background: #eaf0f0
	border-radius: 3px
	+clr
	.btn
		width: 100%
.poll__title
	margin-bottom: 15px
	font-size: 15px
	font-weight: bold
	color: #000
	line-height: 1.2 
.poll__variants
	margin-bottom: 20px
	.radio
		margin-bottom: 10px



.pagination
	margin-top: 20px
	padding-top: 20px
	border-top: 1px solid #e5e5e5 
	font-size: 0
	text-align: center
	a
		display: inline-block
		width: 35px
		height: 35px
		border: 2px solid transparent
		border-radius: 50%
		line-height: 35px
		vertical-align: top
		font-size: 20px
		color: #000
		text-decoration: none
		&.is-active
			border-color: $gr
		&.pagination__prev,
		&.pagination__next
			width: auto
			border: none
			i, span
				display: inline-block
			span
				margin: 0 15px
				font-size: 12px
				color: $gr
			&.is-disabled
				cursor: default
				span
					color: #ccc 
				&.pagination__prev
					i
						+s(flip(pagin-prev-d, pagin-next-d))
				&.pagination__next
					i
						+s(flip(pagin-next-d, pagin-prev-d))
		&.pagination__prev
			float: flip(left, right)
			i
				+s(flip(pagin-prev, pagin-next))
		&.pagination__next
			float: flip(right, left)
			i
				+s(flip(pagin-next, pagin-prev))



.player
	padding: 10px
	margin-bottom: 30px
	border-radius: 2px
	background: #EAF0F0 
	overflow: hidden
.player__btn, .player__vol
	width: 21px
	height: 21px
	font-size: 0
.player__btn
	float: flip(left, right)            
	#{$margin-right}: 10px 
	background: $grd
	border-radius: 2px
	i
		display: inline-block
		margin-left: 2px
		+s(player-play)
	&.is-pause
		i
			margin: 0
			+s(player-pause)
.player__vol
	float: flip(right, left)
	#{$margin-left}: 10px
	background: none 
	i
		display: inline-block
		+s(player-vol-on)
	&.is-off
		i
			+s(player-vol-off)
.player__data
	margin-bottom: 6px
	font-size: 11px
	color: #999
	line-height: 1 
	overflow: hidden
.player__in
	overflow: hidden
.player__time
	float: flip(right, left)
	margin-left: 10px
.player__title
	overflow: hidden
	text-overflow: ellipsis 
	white-space: nowrap
.player__line
	position: relative
	height: 4px
	border-radius: 2px
	background: #FFF
	i
		position: absolute
		top: 0
		#{$left}: 0
		height: 4px
		background: $grd
		border-radius: 2px 



.tabs
	margin-bottom: 30px

.tabs__nav
	margin-bottom: 25px
	padding: 0 5px 
	border-bottom: 1px solid #4e4e4e 
	font-size: 0
	li
		position: relative
		display: inline-block
		#{$margin-right}: -1px
		vertical-align: bottom
		border: 1px solid #e1e1e1
		border-width: 1px 1px 0
		border-radius: 3px 3px 0 0
		text-align: center
		&.is-active
			top: 1px
			padding-top: 4px
			background: #fff 
			border-color: #4e4e4e
			z-index: 2 
			&:after
				content: ""
				position: absolute
				bottom: -7px
				#{$left}: 50%
				#{$margin-left}: -4px
				+arr(8,4,$gr,b)
			a
				color: $gr 
				text-decoration: none
				cursor: default
	a
		display: table-cell
		width: 110px
		height: 48px
		padding: 0 20px
		vertical-align: middle
		font-size: 13px
		color: #707171 
		line-height: 1.1
		&:hover
			color: #000 





.subscribe
	padding: 10px
	margin-bottom: 30px
	background: #eaf0f0
	border-radius: 3px
	+clr
	.field__label
		font-weight: bold
		color: #000 
		line-height: 1
.subscribe_small
	.field__label
		margin-bottom: 10px
	.btn
		width: 100%
		padding: 0
.subscribe_wide
	+clr
	.subscribe__ico, .field__label
		float: flip(left, right)
	.subscribe__ico
		#{$margin-right}: 10px
	.field
		margin: 0
		overflow: hidden
	.field__label
		max-width: 90px
		#{$margin-right}: 10px
	.field__el
		overflow: hidden
	.btn
		float: flip(right, left)
		#{$margin-left}: 10px
.subscribe_middle
	.subscribe__ico
		float: flip(left, right)
	.subscribe__ico
		#{$margin-right}: 10px
	.field
		margin: 0
	.field__label
		margin: 0 0 10px
		overflow: hidden
	.field__el
		float: flip(left, right)
		width: 230px
	.btn
		float: flip(right, left)
		padding: 0
		width: 40px
.subscribe__ico
	display: inline-block
	margin-bottom: 10px
	vertical-align: top
	+s(subscribe)






.review
	margin-bottom: 30px
.review_wide
	+clr
	.review__head, .review__details
		float: flip(left, right)
	.review__in
		display: table
	.review__head
		#{$margin-right}: 20px
	.review__text
		display: table-cell
		height: 90px
		margin: flip(0 0 0 20px, 0 20px 0 0) 
		padding: flip(0 0 0 20px, 0 20px 0 0) 
		border-width: flip(0 0 0 1px, 0 1px 0 0)
		vertical-align: middle
		&:before, &:after
			top: 50%
			margin-top: -8px
		&:before
			#{$left}: 0
			border-width: flip(8px 8px 8px 0, 8px 0 8px 8px)
			border-color: flip(transparent #38a8a2 transparent transparent, transparent transparent transparent #38a8a2)
		&:after
			#{$left}: 1px
			border-width: flip(8px 8px 8px 0, 8px 0 8px 8px)
			border-color: flip(transparent #fff transparent transparent, transparent transparent transparent #fff)
	.review__details
		width: 140px
.review_middle
	.review__head
		float: flip(left, right)
		#{$margin-right}: 20px
	.review__details
		overflow: hidden
	.review__text
		margin-top: 25px
		clear: both
.review__head
	margin-bottom: 20px
	+clr
.review__ico, .review__pic
	float: flip(left, right)
.review__ico
	#{$margin-right}: 10px
	+s(mr_scoba)
.review__pic
	img
		display: block
		border-radius: 50%
.review__man
	margin-bottom: 8px
	font-size: 15px
	font-weight: bold
	color: #000
	line-height: 1.2
	a
		color: #000 
.review__position
	color: $gr 
	line-height: 1.2
.review__text
	position: relative
	margin-top: 15px
	padding-top: 15px
	border: 1px solid $gr
	border-width: 1px 0 0 0
	font-size: 13px
	color: #999
	font-style: italic 
	&:before, &:after
		content: ""
		position: absolute
		#{$left}: 50%
		#{$margin-left}: -8px
		+arr(16,8,$gr,t)
	&:before
		top: -8px
	&:after
		top: -7px
		border-color: transparent transparent #fff transparent



.people
	overflow: hidden
	font-size: 0
.people_narrow
	.people__item
		margin: flip(0 20px 30px 0, 0 0 20px 30px)
.people__in
	#{$margin-right}: -50px
.people__item
	display: inline-block
	width: 140px
	margin: flip(0 50px 30px 0, 0 0 30px 50px)
	vertical-align: top
	font-size: 13px
.people__pic
	margin-bottom: 15px 
	img
		display: block
		border-radius: 2px
.people__name
	margin-bottom: 2px
	font-weight: bold
	font-size: 15px
	line-height: 1.2
	a
		color: #000 
.people__profession
	margin-bottom: 10px
.people__social
	font-size: 0
	li
		display: inline-block
		#{$margin-left}: 20px
		vertical-align: middle
		&:first-child
			margin: 0
	a
		display: block
.people__social-fb
	+s(people-social-fb)
.people__social-vk
	+s(people-social-vk)
.people__social-gp
	+s(people-social-gp)



.contacts__mails
	margin-bottom: 18px
	border-bottom: 1px solid #e5e5e5 
	font-size: 0
	li
		display: inline-block
		width: 30%
		margin: flip(0 3% 20px 0, 0 0 20px 3%)
		vertical-align: top
		font-size: 13px
	span
		display: block
.contacts__address
	color: #7d7d7d
	span
		#{$margin-right}: 20px
		color: #000 
.contacts__form
	margin-top: 29px
	padding: 20px
	border-radius: 2px 
	background: #EAF0F0 
	.fieldset
		.field
			float: left
			width: 200px 
			+clr
			&:first-child
				margin-right: 20px
	.btn
		width: 140px


.workers
	margin-bottom: 20px
	overflow: hidden
	font-size: 0
.workers__in
	#{$margin-right}: -30px
.workers__item
	display: inline-block
	width: 300px
	margin: flip(0 20px 50px 0, 0 0 50px 20px)
	vertical-align: top
	font-size: 13px
.workers__head
	margin-bottom: 15px
	+clr
.workers__pic
	float: flip(left, right)
	#{$margin-right}: 20px
	img
		display: block
		border-radius: 2px
.workers__details
	overflow: hidden
.workers__country
	margin-bottom: 8px
	span
		display: block
		font-style: italic
		font-size: 11px
		color: #A6A6A6 
.workers__name
	margin-bottom: 8px
	font-size: 15px
	font-weight: bold
	line-height: 1.2
	a
		color: #000 
.workers__contacts
	line-height: 1.3
	>li
		padding: 5px 0
		border-top: 1px solid #e5e5e5
		overflow: hidden
		&:first-child
			border: none
.workers__contacts-type
	float: flip(left, right)
	width: 100px
	#{$margin-right}: 20px
.workers__phone, .workers__mail, .workers__address
	display: table
.workers__phone
	font-size: 15px 
.workers__address
	display: table
	color: #7D7D7D 




.nav-inner
	margin-bottom: 30px
	li
		padding: 5px 0
		border-top: 1px dotted #cccccc
		&:first-child
			padding: 0 0 5px 
			border: none


.result
	margin-bottom: 25px
.result__form
	margin-bottom: 30px
	+clr
	.field
		float: flip(left, right)
		width: 160px
		margin: flip(0 0 0 20px, 0 20px 0 0)
		&:first-child
			margin: 0
	.btn
		margin: flip(24px 0 0 20px, 24px 20px 0 0)
		width: 80px
.result__item
	position: relative
	padding: 0 20px
	background: #EAF0F0
	cursor: pointer
	+nosel
	&:first-child
		border-radius: 3px 3px 0 0
	&.is-active
		background: #E0E9E9 
		&:after
			content: ""
			position: absolute
			top: 100%
			#{$left}: 20px
			+arr(20,10,#e0e9e9,b)
		.result__head
			border: none
		.result__arr
			+s(result-list-ico-a)
		.result__counter
			span
				color: #828B8B
			strong
				color: #000 
		.result__category
			font-weight: bold
			color: #000 
.result__head
	padding: 5px 0
	border-bottom: #C7CCCC 1px dotted 
	+clr
.result__arr, .result__counter
	float: flip(right, left)
.result__arr
	margin: flip(7px 0 0 12px, 7px 12px 0 0)
	+s(result-list-ico)
.result__counter
	padding-top: 1px
	color: #A3B0B0
	span, strong
		display: inline-block
		vertical-align: middle
	span
		padding: 4px 10px 0 0
		font-size: 11px
		font-style: italic
	strong
		font-size: 20px
.result__category
	display: table
	padding: 4px 0 
	font-size: 15px
	color: $gr 
.result__more
	height: 28px
	background: #EAF0F0
	border-radius: 0 0 3px 3px
	padding-top: 15px
	text-align: center
	a
		display: inline-block
		vertical-align: top
		text-decoration: none
.result__more-text
	position: relative
	display: block
	font-size: 11px
	color: #A8B4B4 
	z-index: 4 
.result__more-ico
	position: relative
	top: -7px
	display: inline-block
	width: 42px
	height: 42px
	vertical-align: top
	border-radius: 50%
	background: #EAF0F0
	z-index: 2 
	i
		position: absolute
		top: 15px
		left: 15px
		+s(result-more)
.result__data
	display: none
	padding: 23px 0
	.post
		margin-bottom: 20px





.ui-datepicker
	padding: 3px
	border-radius: 3px
	background-color: #fff
	box-shadow: 3px 4px 14px rgba(0,0,0,.14)
	z-index: 1000 !important
.ui-datepicker-calendar
	th
		border-bottom: 1px solid #000 
		font-size: 11px
		span
			display: block
			height: 22px
			line-height: 22px
			font-weight: normal 
	tr
		&:last-child
			td
				border-bottom: 0
	td
		border: 1px solid #f2f2f2
		&:first-child
			border-left: 0
		&:last-child
			border-right: 0  
		&.ui-datepicker-other-month
			span
				color: #d3d3d3 
		span, a
			display: block
			width: 34px
			height: 34px
			text-align: center
			line-height: 34px
			font-size: 15px
		a
			color: #888 
			text-decoration: none 
			&.ui-state-active
				background: $gr
				color: #fff  
			&:hover
				background: #EAF0F0
				color: #000  
.ui-datepicker-header
	position: relative
	padding-top: 4px
.ui-datepicker-title
	height: 30px
	line-height: 30px
	font-weight: bold
	text-align: center
.ui-datepicker-next, .ui-datepicker-prev
	position: absolute
	top: 10px
	cursor: pointer
	span
		display: none
.ui-datepicker-next
	right: 7px
	+s(dp-next)
.ui-datepicker-prev
	left: 7px
	+s(dp-prev)
.ui-datepicker-year
	//display: none







.profile
	margin-bottom: 30px
.profile__pic
	margin-bottom: 15px 
	img
		display: block
		border-radius: 2px
.profile__stats
	margin-bottom: 15px
	li
		padding: 5px 0
		border-top: 1px dotted #b2b2b2
		&:first-child
			border: none
	span
		float: flip(right, left)
		#{$margin-left}: 10px
		color: #BED1D0 
		&.is-active
			color: $gr 
	a
		display: block
		overflow: hidden
		&.is-active
			color: #344746 
.profile__info
	padding-bottom: 20px
	margin-bottom: 20px
	border-bottom: 1px solid #000 
	+clr
	.rating
		float: flip(right, left)
		margin-left: 20px
	.title-bigger
		display: table
		margin-bottom: 3px
.profile__profession
	clear: both






.new__form
	padding: 20px
	border-radius: 3px
	background: #e9efef
.new__category
	+clr
	>.field, .fieldset
		float: flip(left, right)
		width: 360px
	>.field
		#{$margin-right}: 20px
	.fieldset
		margin-top: 24px
	.radio
		float: flip(left, right)
		width: 75px
		#{$margin-right}: 20px
.new__photos
	#{$margin-right}: -20px
	+clr
	li
		position: relative
		float: flip(left, right)
		width: 170px
		height: 140px
		margin: flip(0 20px 20px 0, 0 0 20px 20px)
		border-radius: 3px
		background: #000 
		img
			display: block
			border-radius: 3px
		&.new__photos-add
			background: none 
		&:hover
			img
				opacity: .5 
			.btn-edit, .btn-remove
				display: block
.btn-edit, .btn-remove
	display: none
	position: absolute
	top: 10px
	width: 17px
	height: 17px
	background: #394444
	border-radius: 50%
	font-size: 0
	&:hover
		background: $gr 
	i
		display: inline-block
.btn-edit
	#{$left}: 10px
	i
		position: relative
		top: -1px
		+s(btn-edit)
.btn-remove
	#{$right}: 10px
	i
		+s(btn-remove)
.btn-add-file
	width: 170px
	height: 140px
	background: none 
	border: 2px dashed $gr
	border-radius: 3px
	i
		display: inline-block
		vertical-align: top
		+s(btn-add-file)
	span
		display: block
		padding: 10px 50px 0
		font-style: italic
		color: $gr  
.btn-reset
	position: absolute
	top: 11px
	right: 12px
	+s(btn-reset)
.new__btns
	font-size: 0
	.btn
		width: 140px
		#{$margin-right}: 10px
		vertical-align: top


.field__tags
	width: 100%
	.select2-choices
		width: 100%
		border: 1px solid #dfe2e2
		border-radius: 3px
		background: #fff
		box-shadow: inset 1px 1px 7px rgba(0,0,0,.06)
		font-size: 12px
		+box
		.select2-search-field
			.select2-input
				height: 37px
				padding: 0 10px
				margin: 0
				font-size: 12px
				color: #000 
				+box
		.select2-search-choice
			float: left
			margin: 6px 0 6px 6px
			height: 25px
			padding: 0 7px
			line-height: 25px 
			background: #eaf0f0
			border-radius: 3px
			border: none 
			color: #999 
	&.select2-container-active
		.select2-choices
			border-color: $grd
			box-shadow: 0 0 5px rgba(56,168,162,.15), inset 1px 1px 7px rgba(0,0,0,.06)





.popup
	display: none
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	padding: 100px 0
	overflow: auto 
	z-index: 1000
.popup__overlay
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	background: rgba(#0c2422, .5)
	z-index: 2 
.popup__container
	position: relative
	margin: 0 auto
	border-radius: 3px
	background-color: #fff
	box-shadow: 0 10px 20px rgba(0,0,0,.2)
	z-index: 4 
.popup__in
	padding: 30px
.popup__close
	position: absolute
	top: 30px
	right: 30px
	+s(popup-close)
.popup__footer
	padding: 15px 30px
	background: #EAF0F0
	border-radius: 0 0 3px 3px
.popup_login, .popup_password
	.popup__container
		width: 360px 
.popup_reg, .popup_photo
	.popup__container
		width: 560px 



.login
	>.btn
		width: 100%
.login__pass
	margin-bottom: 15px
	+clr
	>a
		float: flip(right, left)
		margin-top: 1px
		#{$margin-left}: 20px
	.checkbox
		display: table
.login__social
	+clr
	.social
		float: right
		margin-left: 20px
.login__social-title
	display: table
	padding: 5px 0
	font-size: 11px
	color: #999 


.reg
	+clr
.reg__column	
	float: flip(left, right)
	width: 240px
	&:first-child
		#{$margin-right}: 20px
	>.btn
		width: 100%
.reg__social
	padding-top: 7px
	.reg__social-title, .social
		display: inline-block
		vertical-align: middle
	.reg__social-title
		width: 110px
		margin-right: 20px
		line-height: 1
		font-size: 11px
		color: #999 

.password
	.btn
		width: 100%
.password__text
	padding-top: 20px
	font-size: 13px
	font-style: italic
	color: #a3a3a3 

.add-file__photo
	margin-bottom: 25px
	img
		display: block
		border-radius: 3px

.series
	margin-bottom: 30px
	+box
	&.is-hide
		.series__list
			display: none
.series_fixed
	.series__in
		width: 620px
		&.is-fixed
			position: fixed
			top: 0
			z-index: 1000 
			.series__pic
				top: 10px
				#{$right}: 10px
				width: 40px
				height: 40px
.series__in	
	position: relative
	padding: 20px
	border-radius: 2px
	background: #EAF0F0 
	+box
.series__pic
	position: absolute
	top: -40px
	#{$right}: 20px
	width: 80px
	height: 80px
	img
		width: 100%
		border-radius: 4px
.series__head
	+clr
	.link-white
		#{$margin-left}: 20px
		border-color: #d2d8d8
		color: #999 
.series__head-pager, .series__nav, .link-white
	float: flip(left, right)
.series__head-pager
	font-size: 18px
	color: #828282
	line-height: 21px
	span
		color: $gr  
.series__nav
	#{$margin-left}: 20px 
	a
		position: relative
		float: left
		width: 21px
		height: 21px
		background: $gr
		border-radius: 3px 
		font-size: 0
		+box
		&:hover
			top: -1px
			background: $grl 
			box-shadow: 0 1px 0 $grd
		&:active
			top: 0
			box-shadow: none 
	i
		display: block
.series__nav-prev
	padding: 4px 8px 0 6px
	i
		+s(prev)
.series__nav-next
	margin-left: 3px
	padding: 5px 6px 0 8px
	i
		+s(next)
.series__list
	margin: flip(15px 0 0 -10px, 15px -10px 0 0)
	padding: flip(0 20px 0 10px, 0 10px 0 20px)
	overflow: auto
	&::-webkit-scrollbar
		width: 4px
	&::-webkit-scrollbar-thumb
		background: $gr
		border-radius: 2px
	&::-webkit-scrollbar-track-piece
		background: #d6e1e1
		border-radius: 2px
.series__item
	border-top: 1px dotted #a3a8a8 
	&:first-child
		border: none
	&.is-active
		a
			color: $gr 
		
.series__parent
	position: relative
	.series__parent
		>.series__parent-item
			.series__toggle
				&:before, &:after
					content: ""
					position: absolute
				&:before
					top: 6px
					#{$left}: -19px
					height: 1px
					width: 19px
					background: #91CCC9
				&:after
					#{$left}: -19px
					bottom: 6px
					width: 1px
					height: 2000px
					background: #91CCC9 
	&.is-active 
		>.series__childs
			display: block
		>.series__parent-item
			margin: -1px 0
			padding: 11px 22px
			background: $gr
			a
				color: #FFF
				&:hover
					border-bottom: 1px solid rgba(255,255,255,.5) 
					text-decoration: none
			.series__hl, .series__hr
				display: block
			.series__toggle
				top: 12px
				+s(series-minus-h)
			&:hover
				.series__toggle
					+s(series-minus-h)
		.series__item
			position: relative
			i
				&:before, &:after
					content: ""
					position: absolute
				&:before
					top: 6px
					#{$left}: -19px
					height: 1px
					width: 19px
					background: #91CCC9
				&:after
					#{$left}: -19px
					bottom: 6px
					width: 1px
					height: 2000px
					background: #91CCC9 
					
.series__parent-item
	position: relative
	padding: 10px 22px
	&.is-open 
		&:before
			content: ""
			position: absolute
			top: 24px
			#{$left}: 6px
			bottom: 0
			width: 1px
			background: #91CCC9
	//&:hover
	//	margin: -1px 0
	//	padding: 11px 22px
	//	background: $gr
	//	a
	//		color: #FFF
	//	.series__hl, .series__hr
	//		display: block
	//	.series__toggle
	//		top: 12px
	//		+s(series-plus-h)
	a
		color: #000 
		&:hover
			text-decoration: underline
	.series__toggle
		position: absolute
		top: 11px
		#{$left}: 0
		+s(series-plus)
		cursor: pointer
		+nosel
	.series__hl, .series__hr
		display: none 
		position: absolute
		top: 0
		bottom: 0
		width: 10px
		background: $gr 
	.series__hl
		#{$left}: -10px
		border-radius: flip(4px 0 0 4px, 0 4px 4px 0)
	.series__hr
		#{$right}: -10px
		border-radius: flip(0 4px 4px 0, 4px 0 0 4px)
.series__article
	position: relative
	display: block
	padding: 10px 22px 
	color: #818484
	i
		position: absolute
		top: 11px
		#{$left}: 0
		+s(series-article) 
.series__childs
	display: none
	#{$padding-left}: 25px
	#{$padding-right}: 10px
	#{$margin-right}: -10px
	overflow: hidden

.go-top
	display: none
	position: fixed
	top: 50%
	#{$left}: 50%
	height: 23px
	margin-top: -12px
	#{$margin-left}: -580px
	padding: 0 10px 0 15px
	border: 1px solid $gr
	background: none 
	border-radius: 4px
	color: $gr
	font-size: 0 
	+rotate(-90)
	+rt(1160)
		display: none !important
	span, i
		display: inline-block
		vertical-align: middle 
		font-size: 12px
	span
		margin-right: 10px
	i
		+s(go-top)
	 