// Normally mainpage styles
.post
	+clr
.post_column
	.post__item
		float: left
		width: 140px
		margin: 0 0 0 20px 
		&:first-child
			margin: 0
	.post__pic
		float: none
	.post__details
		padding: 14px 0 0 0 
.post_alone
	.post__pic
		float: none
		margin: 0
	.post__details
		padding: 14px 0 0 0 
.post__item
	margin-top: 20px 
	+clr
	&:first-child
		margin-top: 0
.post__pic
	position: relative
	float: left
	img
		display: block
		border-radius: 2px
.post__label
	position: absolute
	top: 20px
	left: 0
	padding: 5px 8px
	background: #81c7f3 
	border-radius: 0 3px 3px 0
	font-size: 8px 
	font-weight: bold
	text-transform: uppercase
	color: #fff 
.post__details
	padding-left: 20px
	overflow: hidden
.post__category, .post__text
	margin-bottom: 5px 
	font-size: 13px
.post__title
	margin-bottom: 10px
	a
		font-size: 18px
		color: #000 
		line-height: 1
.post__title_bigger
	a
		font-size: 30px
.post__text
	color: #000
.post__meta
	margin-bottom: 5px
	+clr
.post__text_gray
	color: #a3a3a3 
.post__date, .post__comm
	float: left
	font-size: 11px
	color: #B8B8B8
	font-style: italic
.post__date
	margin-right: 12px
.post__comm
	position: relative
	padding-left: 22px 
	i
		position: absolute
		top: 1px
		left: 0
		+s(comm)
.post__previews
	float: right
	margin-left: 20px
	li
		position: relative
		margin-bottom: 5px
		cursor: pointer
		&.cycle-pager-active
			&:after
				content: ""
				position: absolute
				top: 27px
				left: -4px
				+arr(4,7,$gr,l)
			img
				border-color: $gr
	img
		display: block
		border-radius: 3px
		border: 3px solid transparent
.post__in
	overflow: hidden
	.post__item
		width: 540px
		margin: 0
.post__more
	padding-top: 10px



.spec-cats
	li
		padding: 5px 0
		border-top: 1px dotted #ccc 
		font-size: 13px
		&:first-child
			padding: 0 0 5px
			border: none


.label
	display: inline-block
	padding: 2px 4px
	margin-left: 14px
	border-radius: 3px
	vertical-align: middle 
	color: #FFF 
	text-transform: uppercase
	font-size: 8px
.label_green
	background: #71b450 
.label_red
	background: #f00000 



.banner
	img
		display: block
		border-radius: 3px



















